@import url('reset.css');
/* General styles */
body {
    background-color: white;
    color: #9B9B9B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

nav {
    display: flex;
    justify-content: flex-end;

}
ul {
    display: flex;
}
a {
    display: block;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
   padding: 0.5rem;
}
a:hover {
    text-decoration: underline;
}

i {
    color: rgba(0,0,0,.54);
    font-size: 1rem;
}
/* header and box search*/
#top {
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.logo {
    width: 90px;
    height: 25px;
    align-self: center;
    margin-left: 1rem;
    
}
#top .profile-pic {
    top: 30px;
    height: 30px;
    border-radius: 50%;
}

.searchbox {
    margin-left: 4rem;
    display: flex;
    justify-content: center;
}
.search {
    width: 450px;
    height:2rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #ccc;
    border-right: 0px;
}

.microico {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin-left: -4px;
    border-radius: 0px;
    border-right: 0px;
    height: 2rem;
    
}
.microico i {
    color: rgb(66, 133, 244)
}
.searchico i {
    color: rgb(66, 133, 244)
}
.searchico {
    height: 2rem;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-left: 0px;
    padding: 0.5rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 1rem;
}
.navbar {
    align-self:center;
    display: flex;
    width: 100%;
   justify-content: flex-end;
   margin-right: 2rem;
}
/* top nav bar */
#main-nav {
    display: flex;
    justify-content: flex-start;
    font-size:11px;
    
    margin-top: 1rem;
    border-bottom: 0.5px solid #ccc;
}
#main-nav ul {
    margin-left: 10rem;
    padding: 0;
    
}
#main-nav i {
    font-size: 10px;
    padding: 1px;
}
#main-nav .all {
    border-bottom:2px solid rgb(66, 133, 244);
    
}
.s-results {
    font-size: 12px;
    padding: 0.8rem;
    margin-left: 10rem;
    margin-bottom: 0;
}
/* main content */


.container {
    display: flex;
    text-align: left;
    justify-content: space-evenly;
}
.cont-results {
   max-width: 40%;
   padding: 10px;
}
.presult {
    margin:1rem auto;
}
.presult > * {
    margin: 0;
    padding: 0;
    

}
.minidir {
    font-size: 11px;
    color: #4d5156;

}
.title {
    display: block;
    color: rgb(35, 23, 174);
    font-size: 1rem;
    margin: 0.2rem auto;
}
.rcontent {
    font-size: 12px;
    color: #4d5156;

}
.linkcontent  a {
    padding: 0;
    color: rgb(35, 23, 174);
    font-size: 11px;
    padding-right: 1rem;
}

.sugest {
    color: #000000;
    margin: 1rem auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 95%;
}
.sugest > * {
    display: flex;
    padding: 0.3rem;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;

}

.videocontainer {
    display: flex;
    font-size: 11px;
    width: 100%;
    justify-content: space-between;
    margin: 5px;

}

.videocontainer a {
    font-size: 13px;
}

.videobox {
    width: 155px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.videobox img {
    width: 170px;
    height: 100px;
}

.other-results {
    display: flex;
    font-size:12px;
    color: rgb(35, 23, 174);
}
.other-results ul {
    display: block;
    margin: 1rem 2rem;
}
.other-results li {
    padding: 0.2rem;
}
.gooogle {
    display: block;
    height:30px;
    width: 235px;
    margin: auto;
}
.num   {
    color: rgb(66, 133, 244);
    padding: 1px;
    font-size: 12px;
    margin: 0;
    justify-content: center;

}
.right-content {
    width: 400px;
    color: #4d5156;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: left;
    padding: 0.5rem;
    height:650px;
}

.right-content * {
    margin-bottom:0.5rem ;
}
.right-content a {
    display: inline;
}
.right-content h3 {
    color: black;
    font-size: 1.5rem;
}
.right-content .bold {
    color: black;
    font-weight: 600;

 }
 .ablocks {
     display: flex;
     color: blue;
     justify-content: space-evenly;
     align-items: flex-end;
 }
/* finish content */
/*footer*/
footer {
    bottom: 0;
    left: 0;
    color:rgba(0,0,0,.54);
    width: 100%;
    font-size: 14px;
   background-color: rgb(242, 242, 242);
}
footer p {
    
    padding: 0.5rem 1rem;
    border: 0.5px solid #e4e4e4;
    width: 100%;
}
.bottom-nav {
display: flex;
justify-content:flex-start;
padding: 0.5rem;
}
footer ul {
    margin-left: 16rem;
}
