@import url('reset.css');
/* General styles */
body {
    background-color: white;
    color: #9B9B9B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

nav {
    display: flex;
    justify-content: flex-end;

}
ul {
    display: flex;
}
a {
    display: block;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
   padding: 0.5rem;
}
a:hover {
    text-decoration: underline;
}

i {
    color: rgba(0,0,0,.54);
    font-size: 1rem;
}
/* header and box search*/
#top {
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.logo {
    width: 90px;
    height: 25px;
    align-self: center;
    margin-left: 1rem;
    
}
#top .profile-pic {
    top: 30px;
    height: 30px;
    border-radius: 50%;
}

.searchbox {
    margin-left: 4rem;
    display: flex;
    justify-content: center;
}
.search {
    width: 450px;
    height:2rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #ccc;
    border-right: 0px;
}

.microico {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin-left: -4px;
    border-radius: 0px;
    border-right: 0px;
    height: 2rem;
    
}
.microico i {
    color: rgb(66, 133, 244)
}
.searchico i {
    color: rgb(66, 133, 244)
}
.searchico {
    height: 2rem;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-left: 0px;
    padding: 0.5rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 1rem;
}
.navbar {
    align-self:center;
    display: flex;
    width: 100%;
   justify-content: flex-end;
   margin-right: 2rem;
}
/* top nav bar */
#main-nav {
    display: flex;
    justify-content: flex-start;
    font-size:11px;
    
    margin-top: 1rem;
    border-bottom: 0.5px solid #ccc;
}
#main-nav ul {
    margin-left: 10rem;
    padding: 0;
    
}
#main-nav i {
    font-size: 10px;
    padding: 1px;
}
#main-nav .all {
    border-bottom:2px solid rgb(66, 133, 244);
    
}